<p id="notice"><%= notice %></p>

<h1>Chocolates</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chocolates.each do |chocolate| %>
      <tr>
        <td><%= chocolate.title %></td>
        <td><%= chocolate.content %></td>
        <td><%= link_to 'Show', chocolate %></td>
        <td><%= link_to 'Show modal', chocolate, remote: true %></td>
        <td><%= link_to 'Edit', edit_chocolate_path(chocolate) %></td>
        <td><%= link_to 'Destroy', chocolate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chocolate', new_chocolate_path %>


<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id='title'></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id='content'></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>